{% extends "base/base.html" %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<h2>Личный кабинет — {{ user.username }} ({{ user.role.name|default:"Пользователь" }})</h2>

<p>Добро пожаловать! Вы вошли как <strong>{{ user.role.name|default:"Пользователь" }}</strong>.</p>

<p>
  <a href="{% url 'muiv_graduation_system:profile' %}" class="btn">Перейти в профиль</a>
  <a href="{% url 'muiv_graduation_system:logout' %}" class="btn">Выйти</a>
</p>
{% endblock %}